- if user_signed_in?
  %h1 You're logged in!
- else
  .row
    .span9
      %h2.visible-phone
        %center= " #{t :best}"
      %br.visible-phone
      %br.visible-phone
      %h4.visible-phone
        %center= " #{t :what}" 
      %br.visible-phone
      %br.visible-phone

      .car-cont.hidden-phone
        .car-cont-img
          .car-type
            = " #{t :groceries}"
            %br
              = " #{t :or}"
            = " #{t :bills}"
        .guaranteed
        
    .span3 
      .hidden-phone     
        %center
          %h2
            %font{:color => "#AA151B", :size => "12"}
              = t :buttontitle
          = link_to " #{t :buttonfood}",  "supermarket" , class: "btn-main"
          = link_to " #{t :buttonbills}",  "utilities" , class: "btn-main"
      .well.visible-phone
        %center
          %h2
            %font{:color => "#AA151B", :size => "12"}
              = t :buttontitle
            = link_to " #{t :buttonfood}",  "supermarket" , class: "btn-main"
            = link_to " #{t :buttonbills}",  "utilities" , class: "btn-main"
  %br/
  %br/
  .row
    .span6
      %h2.featurette-heading
        = t :featurette1a
        %br
        %span.muted= t :featurette1b
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .span6
      = image_tag 'supermarket.png' , class: "pull-right"
  
  .row
    %hr.featurette-divider
    .span6
      = image_tag 'utilities.png' , class: "pull-left"
    .span6
      %h2.featurette-heading
        = t :featurette2a
        %br
        %span.muted= t :featurette2b
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

%hr.featurette-divider 
  .row
    .span12
      = image_tag 'featured-in.jpg' 
