<% if user_signed_in? %>
<h1>You're logged in! </h1>
<% else %>
<div class="row">
  <div class="span9">

     <div id="myCarousel" class="carousel slide" data-interval="3000">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
      <!-- Carousel items -->
<div class="carousel-inner">

     <div class="active item">

        <%= image_tag 'DR1.jpg' %>
      </div>
        <div class="item">
        	<%= image_tag 'DR2.jpg' %>
         
        </div>
        <div class="item">
        	<%= image_tag 'DR3.jpg' %>
         
        </div>
      </div>
      <!-- Carousel nav -->

      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>


     	 <div class="span3">
     	 	<center>
     	 	<h2> 
          <font size='12' color='#AA151B'>
             I want to
          </font>
        </h2>
     	 	<%= link_to 'send my family fresh groceries in the D.R ',  "supermarket" , class: "btn-main" %>
     	 	<%= link_to 'pay my familys utility bills in the D.R' ,  "utilities" , class: "btn-main" %>
    
        </center>
  </div>
</div>

   <div class="row">
      <div class="span12">
          <div class="gray-box">
            <center>
              <%= image_tag 'featured-in.png' %>
               </center>
          </div>
      </div>
</div>

   <div class="row">
      <div class="span8">
          <div class="black-box">
      <h2>
             <font size='4' font weight='300' color='#ffffff'>
              NEWS IN THE D.R. THAT YOU SHOULD KNOW ABOUT</h2>
            </font>
        </h2>
          </div>
          <h3>
          <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
          <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
          <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
        </h3>
      </div>

      <div class="span4">
          <div class="black-box">
            <h2> <font size='4' color='#ffffff'>BE PROUD TO PROVIDE FOR YOUR FAMILY</h2></font>
          </div>
          <h3>
           <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
          <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
          <ul> Lorem ipsum dolor sit amet, varius et in mauris, sed risus tortor consectetuer.</ul>
        </h3>
      </div>

   <% end %>