.row
	.span12
	%center
		%h1 Welcome to our online Supermarket!
		%br/
		We currently deliver food bundles of your choice to anywhere in Santo Domingo. 
		%p/
		As regalii grows more and more, we will expand our delivery services to Santiago, and then all of the Dominican Republic!
		%br/
		%h4 ﻿What kind of food bundle would you like to send?
		%br/
		%br

.row
	.span4
		%center
			= link_to(image_tag("fruit-basket.jpg", :border => -1), "mymodal", "data-toggle" => "modal", :href => "#food100")
			%br
			%center
			%br
			This package contains
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum

			%br/
			.well
				= link_to 'View full package listing',  "mymodal", "data-toggle" => "modal", :href => "#food100", :class => 'btn-main-gray'
				= link_to 'Select this package' ,  "#" , class: "btn-main"

			#food100.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
					%h3#myModalLabel Modal header
				.modal-body
					%p $100
				.modal-footer
					%button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
					%button.btn.btn-primary Select this package

	.span4
		%center
			= link_to(image_tag("fruit-basket.jpg", :border => -1), "mymodal", "data-toggle" => "modal", :href => "#food200")
			%br
			%center
			%br
			This package contains
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum

			%br/
			.well
				= link_to 'View full package listing',  "mymodal", "data-toggle" => "modal", :href => "#food200", :class => 'btn-main-gray'
				= link_to 'Select this package' ,  "#" , class: "btn-main"

			#food200.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
					%h3#myModalLabel Modal header
				.modal-body
					%p $200
				.modal-footer
					%button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
					%button.btn.btn-primary Select this package


	.span4
		%center
			= link_to(image_tag("fruit-basket.jpg", :border => -1), "mymodal", "data-toggle" => "modal", :href => "#food300")
			%br
			%center
			%br
			This package contains
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum
			%li Lorem ipsum

			%br/
			.well
				= link_to 'View full package listing',  "mymodal", "data-toggle" => "modal", :href => "#food300", :class => 'btn-main-gray'
				= link_to 'Select this package' ,  "#" , class: "btn-main"

			#food300.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
				.modal-header
					%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
					%h3#myModalLabel Modal header
				.modal-body
					%p $300
				.modal-footer
					%button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
					%button.btn.btn-primary Select this package
