.row-fluid
	.span5
		%h2.featurette-heading 
			Welcome to our online Supermarket! 
			%h5 Deliveries anywhere to Santo Domingo and Santiago.
	.span7
		
%br/
%br/
.row
	%h4.span5.span.muted What food package would you like to send?
	%ul.span7
		%li.span2
			= link_to "$100",  "#100" , class: "btn-main-gray"
		%li.span2
			= link_to "$200",  "#200" , class: "btn-main-gray"
		%li.span2
			= link_to "$300",  "#300" , class: "btn-main-gray"
%br/
%br

.visible-phone
	= render 'layouts/mobile-market'

.hidden-phone
	= render 'layouts/desktop-market'