
%section#100.row
	.span12
		.black-box
			%center	
				%h2 
					%font{:color => "#ffffff", :size => "5"}The bronze $100 package
	.span5
		.market-list
			= render 'layouts/package-a'
		= link_to 'Select this package' ,  "#" , class: "btn-main"
	.span7
		= image_tag 'package-100.jpg' 
%br
%br
%br
%hr.featurette-divider
%section#200.row
	.span12
		.black-box
			%center	
				%h2 
					%font{:color => "#ffffff", :size => "5"}The silver $200 package
	.span5
		.market-list
			= render 'layouts/package-b'
		= link_to 'Select this package' ,  "#" , class: "btn-main"
	.span7
		= image_tag 'package-200.jpg' 
%br
%br
%br
%hr.featurette-divider
%section#300.row
	.span12
		.black-box
			%center	
				%h2 
					%font{:color => "#ffffff", :size => "5"}The gold $300 package
	.span5
		.market-list
			= render 'layouts/package-c'
		= link_to 'Select this package' ,  "#" , class: "btn-main"
	.span7
		= image_tag 'package-300.jpg' 