<head>
<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Bad+Script::latin', 'Roboto+Condensed:300,400:latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
             <a class="brand" href="/">
                <%= image_tag 'regalii-logo.png' %> 
             </a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li>    
                            <%= link_to 'about us',  about_path %>
                        </li>
                        <li>    
                            <%= link_to 'refunds',  refunds_path %>
                        </li>
                         <li>    
                            <%= link_to 'contact us',  contact_path %>
                        </li>
                    </ul>

                    <ul class="nav pull-right">
                      
                       <% if user_signed_in? %>
                        <li><%= link_to "edit profile", edit_user_registration_path %></li>
                        <li><%= link_to "logout", destroy_user_session_path, method: :delete %></li>
                      <% else %>

                    <li> <%= link_to 'sign up',  new_user_registration_path %> </li>
  
                    <li><%= link_to "login", new_user_session_path %></li>
                      <% end %>
                      <div class="fb-like" data-href="https://www.facebook.com/Regalii" data-send="false" data-layout="button_count" data-width="50" data-show-faces="false" data-font="lucida grande" data-action="recommend"></div>
                   </ul>
                  
                </div>
        </div>
    </div>
</div>